<div class="row">

    <div class="col-md-3">
  
    </div>
  
    <div class="col-md-6 login">
      <div class="login_header text-center">
  <h3> Add A New Product </h3>
      </div>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="ProductForm" novalidate>
            <div class="form-group">
              <label>Product Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div *ngIf="ProductForm.controls['name'].invalid && (ProductForm.controls['name'].dirty || ProductForm.controls['name'].touched )" class="alert alert-danger">
              <div  *ngIf="ProductForm.controls['name'].errors.required">
                Product Name is Required
              </div>
            </div>
      
      
            <div class="form-group">
              <label>Price</label>
              <input type="text" class="form-control" formControlName="price">
            </div>
            <div *ngIf="ProductForm.controls['price'].invalid && (ProductForm.controls['price'].dirty || ProductForm.controls['price'].touched )" class="alert alert-danger">
              <div  *ngIf="ProductForm.controls['price'].errors.required">
                Price is Required
              </div>
            </div>
      


            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" formControlName="description">
              </div>
              <div *ngIf="ProductForm.controls['description'].invalid && (ProductForm.controls['description'].dirty || ProductForm.controls['description'].touched )" class="alert alert-danger">
                <div  *ngIf="ProductForm.controls['description'].errors.required">
                  Description is Required
                </div>
              </div>



              <div class="form-group">
                  <label>Image1</label>
                  <input type="text" class="form-control" formControlName="image1">
                </div>
                <div *ngIf="ProductForm.controls['image1'].invalid && (ProductForm.controls['image1'].dirty || ProductForm.controls['image1'].touched )" class="alert alert-danger">
                  <div  *ngIf="ProductForm.controls['image1'].errors.required">
                    Image1 is Required
                  </div>
                </div>


              <div class="form-group">
                  <label>Image2</label>
                  <input type="text" class="form-control" formControlName="image2">
                </div>
                <div *ngIf="ProductForm.controls['image2'].invalid && (ProductForm.controls['image2'].dirty || ProductForm.controls['image2'].touched )" class="alert alert-danger">
                  <div  *ngIf="ProductForm.controls['image2'].errors.required">
                    Image2 is Required
                  </div>
                </div>



                
      
      
            <div class="form-group">
              <label>Image3</label>
              <input type="text" class="form-control" formControlName="image3">
            </div>
            <div *ngIf="ProductForm.controls['image3'].invalid && (ProductForm.controls['image3'].dirty || ProductForm.controls['image3'].touched )" class="alert alert-danger">
              <div  *ngIf="ProductForm.controls['image3'].errors.required">
                Image3 is Required
              </div>
            </div>
      
      
            
          
  
  
            <div class="form-group text-right">
             <button type="submit" [disabled]="ProductForm.pristine || ProductForm.invalid" class="btn btn-info btn-lg" (click)="addProduct()">  Add New Product </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="col-md-3">
  
    </div>
  
  </div>
  
  
