<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
        <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="#"><span>Maridadi</span> Online</a>
    
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" *ngIf="isLoggedIn">Home</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" routerLink="/"  *ngIf="isLoggedIn">Products</a>
          </li>
          <li class="nav-item">
              <a class="nav-link btn btn-info" routerLink="/login"  *ngIf="!isLoggedIn">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-info" routerLink="/register"  *ngIf="!isLoggedIn">Register</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-info"  routerLink="/logout"  *ngIf="isLoggedIn">Logout</a>
              </li>
         
  
        </ul>
      </div>
        </div>
    </nav>

 