<div class="row">

  <div class="col-md-3">

  </div>

  <div class="col-md-6 login">
    <div class="login_header text-center">
<h3> Login </h3>
    </div>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="LoginForm" novalidate>
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
          </div>
          <div *ngIf="LoginForm.controls['username'].invalid && (LoginForm.controls['username'].dirty || LoginForm.controls['username'].touched )" class="alert alert-danger">
            <div  *ngIf="LoginForm.controls['username'].errors.required">
              Username is Required
            </div>
          </div>
    
    
          <!-- <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email">
          </div>
          <div *ngIf="LoginForm.controls['email'].invalid && (LoginForm.controls['email'].dirty || LoginForm.controls['email'].touched )" class="alert alert-danger">
            <div  *ngIf="LoginForm.controls['email'].errors.required">
              Email is Required
            </div>
          </div> -->
    
    
    
          <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" formControlName="password">
          </div>
          <div *ngIf="LoginForm.controls['password'].invalid && (LoginForm.controls['password'].dirty || LoginForm.controls['password'].touched )" class="alert alert-danger">
            <div  *ngIf="LoginForm.controls['password'].errors.required">
              Password is Required
            </div>
          </div>
    
    
          
          <!-- <div class="form-group">
            <label>Confirm Password</label>
            <input type="text" class="form-control" formControlName="confirm_password">
          </div>
          <div *ngIf="LoginForm.controls['confirm_password'].invalid && (LoginForm.controls['confirm_password'].dirty || LoginForm.controls['confirm_password'].touched )" class="alert alert-danger">
            <div  *ngIf="LoginForm.controls['confirm_password'].errors.required">
             Please Confirm Password
            </div>
          </div> -->


          <div class="form-group text-right">
           <button type="submit" [disabled]="LoginForm.pristine || LoginForm.invalid" class="btn btn-info btn-lg" (click)="submit()"> Log In </button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-3">

  </div>

</div>

