
<div class="container">
 
<div class="jumbotron">
 
  <h1 class="hd1">Custom Jumbotron!</h1>
 
  <p class="lead hd1">Using the gradient background for Jumbotron component</p>
 
  <hr class="my-4">
 
  <p class="hd1">Convey and get attention.</p>
 
  <p class="lead">
 
    <a class="btn btn-dark btn-lg" href="#" role="button">Download Now</a>
 
  </p>
 
</div>
 
</div>