<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6 pad">

    <h3>Product Details</h3>
    <h3>{{product.name}}</h3>
    <h3>{{product.price}}</h3>
<img src="{{product.image1}}">
<img src="{{product.image2}}">
<img src="{{product.image3}}">
    <p></p>
    
    </div>
    <div class="col-md-3">
    
      </div>
</div>