


    <hr>
    <div class="container">
        
            <h3 class="h3">Maridadi Online Retial</h3>
            <a routerLink="/newproduct"><button class="btn btn-success btn-md"> Add A New Product</button></a>


            <div class="row">
                    <div class="col-md-3 col-sm-6" *ngFor="let product of products">
                            <h3 class="title">
                                   
                                    <a [routerLink]="['/detail/', product._id]" >{{ product.name }}</a>
                                </h3>
                                <a [routerLink]="['/update/', product._id]" ><button class="btn btn-success btn-md" > Edit Item</button></a>
                            <a ><button class="btn btn-success btn-md" (click)="delete(product._id)"> Delete Item</button></a>
                        <div class="product-grid3">
                            <div class="product-image3">
                                <a href="#">
                                    <img class="pic-1" src="{{ product.image1 }}">
                                    <img class="pic-2" src="{{ product.image2 }}">
                                    <img class="pic-2" src="{{ product.image3 }}">
                                </a>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                                <span class="product-new-label">New</span>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                   
                                    <a [routerLink]="['/detail/', product._id]" >{{ product.name }}</a>
                                </h3>
                                <div class="price">
                                    {{ product.price }}
                                    <span>$75.00</span>
                                    
                                </div>
                                <ul class="rating">
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star disable"></li>
                                    <li class="fa fa-star disable"></li>
                                </ul>
                            </div>
                           
                            
                        </div>
                    </div>

                </div>











           
        </div>
        <hr>    


    
