<div class="row">

  <div class="col-md-3">

  </div>

  <div class="col-md-6 login">
    <div class="login_header text-center">
<h3> Add New Product </h3>
    </div>
    <div class="card">
      <div class="card-body">
       
          <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control" [(ngModel)]="product.name">
          </div>
       
    
    
          <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control"  [(ngModel)]="product.price">
          </div>
         
    


          <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control"  [(ngModel)]="product.description">
        



            <div class="form-group">
                <label>Image1</label>
                <input type="text" class="form-control"  [(ngModel)]="product.image1">
              </div>
            


            <div class="form-group">
                <label>Image2</label>
                <input type="text" class="form-control"  [(ngModel)]="product.image2">
              </div>
            



              
    
    
          <div class="form-group">
            <label>Image3</label>
            <input type="text" class="form-control"  [(ngModel)]="product.image3">
          </div>
          <div class="form-group text-right">
           <button type="submit"  class="btn btn-info btn-lg" (click)="updateProduct()"> Edit Product </button>
            </div>
    
      </div>
    </div>
  </div>

  <div class="col-md-3">

  </div>

</div>


