<div class="row">

    <div class="col-md-3">
  
    </div>
  
    <div class="col-md-6 login">
      <div class="login_header text-center">
  <h3> Register </h3>
      </div>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="RegistrationForm" novalidate>
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" formControlName="username">
            </div>
            <div *ngIf="RegistrationForm.controls['username'].invalid && (RegistrationForm.controls['username'].dirty || RegistrationForm.controls['username'].touched )" class="alert alert-danger">
              <div  *ngIf="RegistrationForm.controls['username'].errors.required">
                Username is Required
              </div>
            </div>
      
      
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email">
            </div>
            <div *ngIf="RegistrationForm.controls['email'].invalid && (RegistrationForm.controls['email'].dirty || RegistrationForm.controls['email'].touched )" class="alert alert-danger">
              <div  *ngIf="RegistrationForm.controls['email'].errors.required">
                Email is Required
              </div>
            </div>
      


            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" formControlName="firstname">
              </div>
              <div *ngIf="RegistrationForm.controls['firstname'].invalid && (RegistrationForm.controls['firstname'].dirty || RegistrationForm.controls['firstname'].touched )" class="alert alert-danger">
                <div  *ngIf="RegistrationForm.controls['firstname'].errors.required">
                  First Name is Required
                </div>
              </div>



              <div class="form-group">
                  <label>Middle Name</label>
                  <input type="text" class="form-control" formControlName="middlename">
                </div>
                <div *ngIf="RegistrationForm.controls['middlename'].invalid && (RegistrationForm.controls['middlename'].dirty || RegistrationForm.controls['middlename'].touched )" class="alert alert-danger">
                  <div  *ngIf="RegistrationForm.controls['middlename'].errors.required">
                    Middle Name is Required
                  </div>
                </div>


              <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" formControlName="lastname">
                </div>
                <div *ngIf="RegistrationForm.controls['lastname'].invalid && (RegistrationForm.controls['lastname'].dirty || RegistrationForm.controls['lastname'].touched )" class="alert alert-danger">
                  <div  *ngIf="RegistrationForm.controls['lastname'].errors.required">
                    Last Name is Required
                  </div>
                </div>



                
      
      
            <div class="form-group">
              <label>Password</label>
              <input type="text" class="form-control" formControlName="password">
            </div>
            <div *ngIf="RegistrationForm.controls['password'].invalid && (RegistrationForm.controls['password'].dirty || RegistrationForm.controls['password'].touched )" class="alert alert-danger">
              <div  *ngIf="RegistrationForm.controls['password'].errors.required">
                Password is Required
              </div>
            </div>
      
      
            
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="text" class="form-control" formControlName="confirm_password">
            </div>
            <div *ngIf="RegistrationForm.controls['confirm_password'].invalid && (RegistrationForm.controls['confirm_password'].dirty || RegistrationForm.controls['confirm_password'].touched )" class="alert alert-danger">
              <div  *ngIf="RegistrationForm.controls['confirm_password'].errors.required">
               Please Confirm Password
              </div>
            </div>
  
  
            <div class="form-group text-right">
             <button type="submit" [disabled]="RegistrationForm.pristine || RegistrationForm.invalid" class="btn btn-info btn-lg" (click)="register()">  Register</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="col-md-3">
  
    </div>
  
  </div>
  
  