.login {
    padding-top: 8em;

    .login_header {
        h3 {
            font-weight: 600px;
            font-size: 70px;
            font-family: 'Times New Roman', Times, serif;
        }
    }

}